<!-- PLEASE DO NOT REMOVE FOOTER INFORMATION -->
</td></tr>
<tr><td class='pagefooter'></td></tr>
</table>
</div>
</td>
<td id='menuarea'>
    <table class='menutable' cellpadding='0' cellspacing='0'>
        <tr>
            <td class='menutop'></td>
        </tr>
        <tr>
            <td class='menubody'>
                <div class='menuwrapper'>
                    <!-- Menu items -->
                    {foreach from=$menu item=menuitem}
                            <li>
                                <a href="{$menuitem.link}"{if $menuitem.new_window} target="_blank"{/if}>{$menuitem.text}</a>
                                {if isset($menuitem.submenu) && $menuitem.submenu|@count > 0}
                                    <ul>
                                    {foreach from=$menuitem.submenu item=subitem}
                                        <li><a href="{$subitem.link}"{if $subitem.new_window} target="_blank"{/if}>{$subitem.text}</a></li>
                                    {/foreach}
                                    </ul>
                                {/if}
                            </li>
                    {/foreach}
                        </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td class='menubody'>
                <div class='loginwrapper'>
                    <!-- login -->
                    {$login}<br>
                    {$register}
                </div>
            </td>
        </tr>
        <tr>
            <td class='menubottom'></td>
        </tr>
    </table>
</td>
</tr>
</table>
</td>
<td id='colright'></td>
</tr>
</table>
<table class='maintable' cellpadding='0' cellspacing='0'>
    <tr>
        <td id='colbotleft'><img src='templates/basic/images/blank.gif' width='14' height='14' alt='' style='display: block;' /></td>
        <td id='colbot'></td>
        <td id='colbotright'><img src='templates/basic/images/blank.gif' width='14' height='14' alt='' style='display: block;' /></td>
    </tr>
</table>

<div class='smalltext' style='text-align: center;'><center><a href='admin.php'>Admin</a></center><br>{$disclamer}</div>
</body>