<!-- PLEASE DO NOT REMOVE FOOTER INFORMATION --> 
<!--End Database Generated Content-->
      </div><!--Close Div pageclass-->
    </div><!--Close Contentdiv-->
  </div><!--Close Content-->
</div><!--Close Container-->

<div id='sidebar'>

  <div class='sidebardiv'>
  </div><!-- Close sidebardiv -->
</div><!-- Close sidebar_full -->
<div class='clearing'>&nbsp;</div>
</div><!--Close Wrapper-->
<div id='footer'>
<div id='credits'><div class='smalltext' style='text-align: center;'><a href='admin.php'>Admin</a><br>{$disclamer}</div>
<!--End notes/Credits-->
</div>
</div>
<!--Close the tags like a good code monkey ;)-->
</body>