/*This is the LEAF skin, made by Ivan for Nucleus CMS*/
/*I am not a pro in CSS - If you are one and if you think it can be done better, by all means go ahead and adjust to your needs*/
/*I've tried my best to comment on most of the styles*/

/*BASIC STUFF*/
#header{
		position: relative;
		width: 700px;
		height: 151px;
		margin: auto;
		background: url(../images/01_header03.jpg) no-repeat;
	}

a:link, a:visited{
	color: #23598C;
	text-decoration: none;
}
a:hover, a:active{
	color: black;
}

img{
	border: none;
}

.linkspage_button{
	border:0px;
}

td{
	text-align:left;
}

/*This is used for hidden stuff, stuff that you don't want people to see with CSS enabled*/
/*Try disabling CSS and you'll see some messages that you don't see with CSS enabled*/
.hidden{
	display: none;
}

/*Use this to centerize any image/text*/
.centerize{
	text-align: center;
}

/* MAIN STRUCTURE */
/*Don't edit if you know what's good for you*/
body{
	color: #4C4C4C;
	font-size: 11px;
	font-family: Trebuchet MS, "Lucida Sans Unicode", Arial, Lucida Sans, Tahoma, Sans-Serif;
	background: #123454 url(../images/01_bg.gif) top repeat-x;
	padding: 20px 0 20px 0;
	text-align: center;
}
#wrapper{
	width: 700px;
	margin: auto;
	background: white url(../images/01_bodybg.jpg) repeat-y;
	text-align: left;
}

/*The header image*/
#header{
	position: relative;
	width: 700px;
	height: 151px;
	margin: auto;
	background: url(../images/01_header01.jpg) no-repeat;
}

/*The container - edit "230" to your desired width for the sidebar (lines 55, 58, 62)*/
#container{
	/* width: 100%; */
	
	width: 700px;
}
#content{
	margin-right: 230px;
	padding: 25px 0;
}
#sidebar{
	width: 230px;
	float: right;
	padding: 25px 0;
	text-align: left;
}
#footer{
	width: 700px;
	margin: auto;
	padding: 20px 0 0 0;
	background: url(../images/01_footer.jpg) top no-repeat;
}

/* The container - custom page layout. resize adjustments for full screen */
#container_full{
	/* width: 100%; */
	float: left;
	margin-right: 0px; 
	/* -230 */
	width: 700px;
}
#content_full{
	/* margin-right: 230px; */
	padding: 25px 0;
}
#sidebar_full{
	width: 230px;
	float: right;
	padding: 25px 0;
	text-align: left;
	display:none;
}

/*Credits part is where the copyrights/xhtml/css validation stuff will be*/
#credits{
	font-size: 10px;
	text-align: center;
	color: #F7F7F7;
}
#credits a:link, #credits a:visited{
	color: #CFE6FD;
}
#credits a:hover, #credits a:active{
	color: white;
}
/*Ignore this*/
.clearing{
	height: 0;
	clear: both;
}
.smalltext{
	color:#fff;
}
#wrapper .smalltext{
	color:#000;
}

/*THE MAIN TITLE - YOUR BLOG NAME ON TOP OF THE HEADER*/
#header h1{
	position: absolute;
	top: 16px;
	left: 24px;
	height:35px;
	font-size: 20px;
	line-height: 20px;
	margin: 0;
	text-indent: 35px;
	background: url(../images/01_logo.gif) bottom left no-repeat;



}

/*THE NAVIGATION - More detailed stuff in NAVIGATION LINKS section*/
#navigation{
	font-size: 11px;
	width: 694px;
	height: 22px;
	position: absolute;
	top: 129px;
	left: 3px;
	list-style: none;
}
#navigation ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
#navigation li{
	background: none;
 	display: inline;
}

/*  THE DEFAULT HEADERS (h2: Main titles, h3: Blog and Sidebar titles, h4: Comment names/userlinks)*/
h2{
	color: #3E565F;
	margin: 0 0 3px 0;
	font-size: 16px;
	height: 23px;
	margin: 0 0 5px 0;
}
h3{
	color: #3E565F;
	margin: 0 0 8px 0;
	font-size: 14px;
}
h4{
	font-size: 11px;
}

/*Sub structure - To create the margins of the body (where text will be placed)*/
.contentdiv{
	margin: 0 15px 0 22px;
}
.sidebardiv{
	margin: -100px 22px 0 15px;
}


/* THE STYLING OF THE BODY OF CONTENTS AND SIDEBAR */
.contentbody{
	margin: 0;
	padding: 0 0 0 0;
	text-align: left;
}
.sidebarbody{
	margin: 0 0 20px 0;
	padding: 0;
}

/* THIS PART IS THE SIDEBAR'S INDIVIDUAL DIVS */
/* Note that it doesn't have any styling, but it's here in case you want to add some styles */
.sidebarin{
	padding: 0;
	margin: 0;
}

/*MAIN TITLES*/
h2{
	height: 23px;
	text-indent: 20px;
	margin: 0 0 5px 0;
	background: url(../images/01_m_default.gif) no-repeat;
}

/*You can remove all parts here if you do not wish to use images as your main titles*/
h2.news{
	text-indent: -9999px;
	background: url(../images/01_m_news.gif) no-repeat;
}
h2.comment{
	text-indent: -9999px;
	background: url(../images/01_m_comment.gif) no-repeat;
}



/* comments page is special */
.divcomment{ 
	margin: 0;
}

/* content pages */
.divcontent .contentbody{
	margin: 0;


}


/*FORM STYLING*/
form{
	margin: 0;
	
}
form p{
	padding: 1em;
	text-align: left;
}
/*Styling for all form fields*/

/*Form fields on focus effect (when user click on that input field)*/
.formfield:focus{
	border: 1px solid black;
}
/*Form's buttons*/
.formbutton{
	font-size: 11px;
	font-family: Trebuchet MS, "Lucida Sans Unicode", Arial, Lucida Sans, Tahoma, Sans-Serif;
	margin: 1px 0 0 0;
	padding: 1px 10px;
	color: #494949;
	background: white;
	border-top: 1px solid #D4D2CF;
	border-left: 1px solid #D4D2CF;
	border-bottom: 1px solid #868686;
	border-right: 1px solid #868686;
}
/* Don't show textarea scrollbar on IE */
textarea{
	overflow: hidden;
}


/* STYLING OF MENU TITLES */

h3{   /* default styleing for menu items, do not remove */
	height: 23px;
	text-indent: 17px;
	margin: 0 0 2px 0;
	background: url(../images/01_m_default.gif) no-repeat; 
}

h3.news{ /* remove background image from h3 in news posts */
	background: none;
}


/* You can remove all parts here if you do not wish to use images as your side titles */

h3.about {
	height: 23px;
	text-indent: -9999px;
	margin: 0 0 2px 0;
	background: url(../images/01_s_about.gif) no-repeat;
}

h3.login{
	height: 23px;
	text-indent: -9999px;
	margin: 0 0 2px 0;
	background: url(../images/01_s_login.gif) no-repeat;
}

h3.categories {
	height: 23px;
	text-indent: -9999px;
	margin: 0 0 2px 0;
	background: url(../images/01_s_categories.gif) no-repeat;
}
h3.search{
	height: 23px;
	text-indent: -9999px;
	margin: 0 0 2px 0;
	background: url(../images/01_s_search.gif) no-repeat;
}

h3.links{
	height: 23px;
	text-indent: -9999px;
	margin: 0 0 2px 0;
	background: url(../images/01_s_links.gif) no-repeat;
}

h3.online {
	height: 23px;
	text-indent: -9999px;
	margin: 0 0 2px 0;
	background: url(../images/01_s_online.gif) no-repeat;
}

h3.chatbox {
	height: 23px;
	text-indent: -9999px;
	margin: 0 0 2px 0;
	background: url(../images/01_s_chatbox.gif) no-repeat;
}

.compliance{

}




/* Sidbar menu content styles */

.defaultform{
	width: 174px;
	background: #E2EDF0 url(../images/01_mountaintop2.gif) top no-repeat; 
	padding:4px;
}

/*THE LIST STYLES*/
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
li{
	padding: 0 0 0 9px;
	margin: 0 0 2px 0;
	background: url(../images/01_arrow.gif) 0 6px no-repeat;
}

/*THE SEARCH HIGHLIGHT*/
.highlight{
	font-weight: bold;
	text-decoration: underline;
}


#logcontrol{
	background: none;
	width: 250px;
	height: 18px;
	position: absolute;
	top: 79px;
	left: 800px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

/*Info for mouseover*/
#dhtmltooltip{
	position: absolute;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	border: 0px solid white;
	padding: 3px;
	background-color: #123454;
	visibility: hidden;
	z-index: 100;
	opacity: .80;
	color: white;
}


