                  </div><!-- End MainContentWrap -->

            </div><!-- End ContentTop -->            

            </div><!-- End ContentBG -->

            <div id='contentbottom'></div><!-- ContentBottom -->

</div><!-- End ContentWrap -->

      <div id='footer'><!-- Start Footer -->

            <div id='footernav'><!-- Start FooterNav -->


            </div><!-- End FooterNav -->

      </div><!-- End Footer -->

      </div><!-- End MainContent -->

</div><!-- End Page -->

<div class='disclaimer' style='text-align: center;'>

		
        <div class='smalltext'>{$disclamer}<br /><a href='admin.php'>Admin</a></div>
</div>
        
</body>
