/* Core Classes - tech_lus */


body {
	margin: 0 0 30px 0;
	padding: 0 0 0 0;
	font-family: tahoma, 'Trebuchet MS', Arial, sans-serif;
	font-size: 95.5%;
	color: #333333;
	background-color: #000;
}
#page {
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	width: 759px; 
	min-height: 100%;		
}
#headerwrapper {
	width: 759px;
	height: 320px;
}
#navbartop {
	width: 759px;
	height: 42px;
	background:url("../images/navbar_top.gif") top left no-repeat;
}
#navbar {
	width: 759px;
	height: 33px;
	background:url("../images/navbar.gif") top left no-repeat;
}

#header {
	height: 245px; 
	width: 759px; 
	background: url("../images/header.jpg") top left no-repeat;
}


#logo {
	float: right;
	width: 420px;
}
#logo_left {
	float: left;
	width: 230px;
	padding: 70px 0 0 40px;
}

#clockbox {
	width: 200px;
	height: 18px;
	text-align: left;
	padding: 10px 0 0 5px;
	font-family: tahoma, 'Trebuchet MS', Arial, sans-serif;
	font-size: .5em;
	font-weight: bold;
	color: #fff;
}
#quotebox {
	width: 150px;
	height: 50px;
	text-align: left;
	padding: 0 0 0 5px;
	font-family: tahoma, 'Trebuchet MS', Arial, sans-serif;
	font-size: .6em;	
	color: #828F98;
}


#contentwrapper {
	width: 750px;
	min-height: 100%;	
	background: url("../images/body_bg.gif") top left repeat-y;	
}
#contentwrapper_custom {
	width: 750px;
	min-height: 100%;
	padding: 0 0 0 0;
	background: url("../images/body_bg.gif") top left repeat-y;	
}


/* SIDE BAR - BEGIN */

#sidebar {
	float: left;
	width: 219px; 
	min-height: 100%;
	padding: 0 0 0 20px;
	font-size: 1em;
	text-align: left;	
}
#sidebar a{
	color: #000;
	text-decoration: none;
}
#sidebar a:hover{
	color: #2C70B5;
	text-decoration: underline;	
}
#menutop {
	width: 219px;
	height: 145px;
	background: url("../images/menu_box_top.gif") top left no-repeat;
}

#menubg {
	width: 219px;
	height: 100%;
	background: url("../images/menu_box_bg.gif") top left repeat-y;
}
#menubottom {
	width: 219px;
	height: 16px;
	background: url("../images/menu_box_bottom.gif") top left no-repeat;
}

#menuwrapper {
	width: 180px;	
	margin: 0 auto 0 auto;
	font-size: .8em;	
}

/* SIDE BAR - END */



/* MAIN CONTENT - BEGIN  */

#maincontent {
	float: left;
	width: 490px; /* 490 + 11 = 501 */
	margin: 0 0 0 11px;
	padding: 0 0 0 0;
	text-align: left;	
}
#maincontent_custom {
	float: right;
	width: 718px;
	height: 100%;
	margin: 0;
	padding: 10px 11px 0 0;	
	font-size: .9em;		
}

/* CONTENT BOX- START */
#contenttop {
	width: 490px;
	height: 100%;
	padding: 50px 0 0 0;
	background: url("../images/content_box_top.gif") top left no-repeat;
}
#contentbg {
	width: 490px;	
	background: url("../images/content_box_bg.gif") top left repeat-y;	
}
#contentbottom {
	width: 490px;
	height: 16px;
	background: url("../images/content_box_bottom.gif") top left no-repeat;
}

#maincontentwrapper {
	width: 450px; 
	margin: auto auto auto auto;
	padding: 0 0 0 0;
	text-align: justify;
	font-size: .9em;
	
}

/* CONTENT BOX- END */



/* MAIN CONTENT - END  */



/* FOOTER - BEGIN */
#footer {
	text-align: left;
	clear: both;
	font-size: 0.7em;
	padding: 0 0 0 0;
	width: 759px;
	height: 91px;
	background: url("../images/footer.gif") top left no-repeat;
		
}
#footernav {
	width: 700px;
	color: #CAD3DC;
	font-size: .9em;
	text-align: right;
	padding: 20px 0 0 0;
}
#footernav a{
	color: #CAD3DC;		
}
#footernav a:hover{
	color: #CAD3DC;
	text-decoration: underline;	
}


/* FOOTER - END */

/* MISC CLASSES */
.nextprev {
	font: 7pt tahoma, verdana, arial, helvetica, sans-serif;
	color:#333;
	font-weight: bold;	
}
.disclaimer {
	font: 9px 'Trebuchet MS', tahoma, verdana, arial, helvetica, sans-serif;
	color:#CAD3DC;
}
.disclaimer a{
	color: #CF3C11;
}
.disclaimer a:hover{
	color: #CF3C11;
	text-decoration: underline;
}
.smalltext {
	font: 9px 'Trebuchet MS', tahoma, verdana, arial, helvetica, sans-serif;
	color: #376B9E;
}
.smalltext a:link, .smalltext a:visited {
	color: #10C010;
}
.smalltext a:hover{
	color: #2C70B5;
	text-decoration: underline;
}
a {
	color: #2C70B5; 
	font-family: verdana, arial, sans-serif; 
	text-decoration: none;	
}
a:hover {
	color: #10C010;
	font-family: verdana, arial, sans-serif; 
	text-decoration: none;	
}

h2 {
	font-family: tahoma, Verdana, Arial, Sans-Serif;
	font-size: 1em;
	color: #38499E; 
	margin: 0 0 0 0;
}
h3 {
	font-family: tahoma, Verdana, Arial, Sans-Serif;
	font-size: 1em;
	font-weight: bold;
	color: #38499E;
}
.button {
	font-family:  tahoma, Verdana, Arial, 'Trebuchet MS', Sans-Serif;
	background: url("../images/button.png") top left repeat-x;
	border: 0;
	height: 20px;	
	color: #fff;
	text-align:center;
	font-size: 11px;	
}
.button:hover {
	font-family:  tahoma, Verdana, Arial, 'Trebuchet MS', Sans-Serif;
	background: url("../images/button.png") top left repeat-x;
	border: 0;
	height: 20px;	
	color: #fff;
	text-align:center;
	font-size: 11px;	
}

.tbox{
	background-color: #fff;
	border: #A6AEB2 1px solid;
	color: #000000;
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
}
/*Info for mouseover*/
#dhtmltooltip{
	position: absolute;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	border: 0px solid white;
	padding: 3px;
	background-color: white;
	visibility: hidden;
	z-index: 100;
	opacity: .80;
	color: Black;
}

/*Menu*/

#nav li { /* all list items */
	width: 10em; /* width needed or else Opera goes nuts */
}

#nav li ul { /* second-level lists */
	position: absolute;
	width: 10em;
	margin: -1em 0 0 5em;
        border: 2px solid white;
        background-color: white;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
	left: -999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}
