
<div class='padder'>
    <form action="{$form_action}" name="{$form_name}" method="POST" {$on_submit}>

        <table width="100%">
            <tr>
                <td>{$username_text}</td>
                <td>{$username}<b id="user"></b></td>
            </tr>
            <tr>
                <td>{$email_text}</td>
                <td>{$email}<b id="email"></b></td>
            </tr>
            <tr>
                <b>{$change_password}</b>
            </tr>
            <tr>
                <td>{$password_text}</td>
                <td>{$password}</td>
            </tr>
            <tr>
                <td>{$passwordtwo_text}</td>
                <td>{$password2}<b id="pass"></b></td>
            </tr>
            <tr>
                <td>{$code_text}</td>
                <td>{$code}</td>
            </tr>
        </table>

        {$send}
    </form>
</div><br />