<form action="{$form_action}" method="post" >
    <table>
        <tr>
            <td >{$admin_email_errors_text}</td>
            <td >{$email_mode}</td>
        </tr>
        <tr>
            <td >{$admin_email_text}</td>
            <td >{$admin_email}</td>
        </tr>
        <tr>
            <td><hr /></td>
            <td><hr /></td>
        </tr>
        <tr>
            <td>{$email_type_text}</td>
            <td>{$email_send_type}</td>
        </tr>
        <tr>
            <td>{$email_host_text}</td>
            <td>{$email_host}</td>
        </tr>
        <tr>
            <td>{$email_port_text}</td>
            <td>{$email_port}</td>
        </tr>
        <tr>
            <td>{$email_user_text}</td>
            <td>{$email_user}</td>
        </tr>
        <tr>
            <td>{$email_pass_text}</td>
            <td>{$email_pass}</td>
        </tr>
    </table>
    <br><br>

    <center>{$save}</center><br><br>


    {$admin_type_message_text}<br><br>
    {$content}<br><br>

    {$page_back}&nbsp;&nbsp;&nbsp;&nbsp; {$button}
</form>



