<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        {$javascript}
        <meta name="keywords" content="{$meta_tags}">
        <meta name="description" content="{$home_page}">
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

        <title>{$title_text}</title>
        <link rel="stylesheet" type="text/css" href="templates/basic/style/style.css">
	{menu_init css="templates/basic/style/menu.css"}
    </head>

    <body>
        <!-- DO NOT REMOVE OR YOU RISK BREAKING TOOLTIPS -->

        <div id="dhtmltooltip"></div>
        {$tooltips}
        <!-- END TOOLTIP CODE -->
        <table class='maintable' cellpadding='0' cellspacing='0'>
            <tr>
                <td id='logo'><center><i><b><font size="+3" color="#FFFFFF">{$title_text}</font></b></i></center></td>
            </tr>
        </table>
        <table class='maintable' cellpadding='0' cellspacing='0'>
            <tr>
                <td id='collefttop'></td>
                <td id='infoleft'>
                    <div class='padder'>

                    </div>
                </td>
                <td id='inforight'>
                    <div class='padder'>

                    </div>
                </td>
                <td id='colrighttop'></td>
            </tr>
        </table>
        <table class='maintable' cellpadding='0' cellspacing='0'>
            <tr>
                <td id='colleft'></td>
                <td>
                    <table class='tablewrapper' cellpadding='0' cellspacing='0'>
                        <tr>
                            <td id='contentarea'>
                                <div class='padder'>
                                    <table class='tablewrapper' cellpadding='0' cellspacing='0'>
                                        <tr><td class='pageheader'></td></tr>
                                        <tr><td class='pagebody'>
