<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        {$javascript}
        <meta name="keywords" content="{$meta_tags}">
        <meta name="description" content="{$home_page}">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>{$title_text}</title>
        <link href="templates/theme4/style/styles.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div id="dhtmltooltip"></div>
        {$tooltips}
        <!-- END TOOLTIP CODE -->
        <div id="main1">
            <div id="main">
                <!-- header begins -->
                <div id="header">
                    <div id="logo">
                        <h2></h2></div>
                    <div id="buttons">

                    <!-- Menu items -->
                    <ul class="mainmenu">
                    {foreach from=$menu item=menuitem}
                        <li>
                            <a href="{$menuitem.link}"{if $menuitem.new_window} target="_blank"{/if}>{$menuitem.text}</a>
                            {if isset($menuitem.submenu) && $menuitem.submenu|@count > 0}
                                <ul class="submenu">
                                {foreach from=$menuitem.submenu item=subitem}
                                    <li><a href="{$subitem.link}"{if $subitem.new_window} target="_blank"{/if}>{$subitem.text}</a></li>
                                {/foreach}
                                </ul>
                            {/if}
                        </li>
                    {/foreach}
                    </ul>

                    </div>

                </div>

                <!-- header ends -->
                <!-- content begins -->
                <div id="contop"></div>
                <div id="content">
                    <div id="right">
                        <!-- login -->
                        {$login}<br><br>
                        {$register}
                        <div id="archives">

                        </div>

                    </div>
                    <div id="left">
                        <div id="text">
                        </div>

                    </div>
